
body{
    background-color: rgb(214, 214, 214)
}
.asos{
    display: flex;
   justify-content: space-around;
    width:  65%;
    height: 100vh;
    /* border: 1px solid; */
    margin: auto;
}
.chap{
    width: 700px;
    height: 500px;
    border: 1px solid;
    

}
.ung{
    width: 250px;
    height: 500px;
    border: 1px solid;
}
.karta{
    width: 650px;
    height: 200px;
    border: 1px solid;
    margin: 20px;
}
.kart2{
    width: 200px;
    height: 150px;
    border: 1px solid;
}